.pagination {
    @include flex(row, center, center, 0);
    list-style: none;
    margin-bottom: 16px;
    
    .pagination-item {
        margin: 0 8px;
        .pagination-item__link {
            --height: 30px;
            display: flex;
            color: rgb(147, 147, 147);
            font-size: 1.2rem;
            min-width: 32px;
            height: var(--height);
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: transparent;
        }
        .pagination-item__link.pagination-item__link--default {
            cursor: default;
        }
    }
    .pagination-item.pagination-item--active {
        .pagination-item__link {
            color: rgb(255, 255, 255);
            background-color: rgb(249,115,22);

        }
    }
}