.review-container{
    @include flex(row, center, center, 0);
    flex-wrap: wrap;
    >.review-item {
        padding: 1rem/* 16px */;
        width: 100%;
        >.review-item-container {
            height: 100%;
            --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
            cursor: pointer;
            border-radius: 0.75rem/* 12px */;
            overflow: hidden;
            text-align: justify;
            background-color: rgb(255, 255, 255);
            @include flex(row, center, center, 0);
            &:hover {
                --tw-translate-y: -0.25rem/* -4px */;
                transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
                --tw-shadow-color: #bdbdbd;
                --tw-shadow: var(--tw-shadow-colored);
            }

            >img {
                width: 30%;
                border-bottom: 1px solid rgb(220, 220, 220);
            }
            >.review-item-content {
                >h2 {
                    letter-spacing: 0.1em;
                    font-size: 0.75rem/* 12px */;
                    line-height: 1rem/* 16px */;
                    font-weight: 500;
                    color: rgb(189 189 189);
                    margin-bottom: 0.25rem/* 4px */;
                }
                >h1 {
                    font-size: 1.125rem/* 18px */;
                    line-height: 1.75rem/* 28px */;
                    font-weight: 700;
                    color: rgb(33 33 33);
                    margin-bottom: 0.75rem/* 12px */;
                }
                >p {
                    line-height: 1.625;
                    font-size: 1rem;
                    margin-bottom: 0.75rem/* 12px */;
                }
            }
        }
    }
}