@import "mixin";
@import "headerPublic";
@import "footerPublic";
@import "homePublic";
@import "allBookPublic";
@import "bookPublic";
@import "signinSignup";
@import "profile";
@import "dashboard";
@import "categoryService";
@import "management";
@import "pagination";
@import "review";
@import "blogTable";
@import "createBlog";
@import "feedbackAdmin";
@import "mediaQuery";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.red {
  color: rgb(255, 0, 0);
}

.bg-red {
  background-color: rgb(255, 0, 0);
}

.orange {
  color: rgb(255, 165, 0);
}
.bg-orange {
  background-color: rgb(255, 165, 0);
}

.blue {
  color: rgb(47, 0, 255);
}

.slate {
  background-color: rgb(51, 65, 85);
}

.bg-blue {
  background-color: rgb(47, 0, 255);
}
.green {
  color: rgb(21, 128, 61);
}

.btn-disable {
  color: rgb(255, 255, 255);
  padding: 0.75rem /* 12px */;
  border-radius: 0.5rem /* 8px */;
  text-transform: uppercase;
  &:hover {
    opacity: 0.95;
  }
  &:disabled {
    opacity: 0.88;
  }
}

.text-white {
  color: rgb(255, 255, 255) !important;
}

.rotate-180 {
  rotate: 180deg;
}

.shadow {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.mt-2 {
  margin-top: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mt-32 {
  margin-top: 2rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-3 {
  margin-bottom: 0.75rem /* 12px */;
}
.none {
  display: none !important;
}
.p-6 {
  padding: 1.5rem /* 24px */;
}
// Default button
.default-button,
.private-button {
  align-items: center;

  border: 0;
  border-radius: 100px;
  box-sizing: border-box;

  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.private-button {
  background-color: #0a66c2;
  color: #ffffff;
}

.default-button {
  background-color: rgb(204, 204, 204);
  color: #333;
}

.private-button:hover,
.private-button:focus {
  background-color: #16437e;
  color: #ffffff;
}

.default-button:hover,
.default-button:focus {
  opacity: 0.8;
}

.private-button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.private-button:disabled,
.default-button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.btn-disabled {
  opacity: 0.6 !important;
  cursor: default !important;
}

// Public
.header {
  padding: 0.5rem 5rem;
}
.search-bar-container {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  min-width: 40rem;
  //background-color: rgb(211, 211, 211);
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  > .input-wrapper {
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 1rem;
    box-shadow: 0 0 8px rgb(250, 250, 250);
    display: flex;
    align-items: center;
    border: 2px solid rgb(65, 105, 225);
    > input {
      background-color: transparent;
      border: none;
      height: 100%;
      font-size: 1.25rem;
      width: 100%;
      margin-left: 0.3rem;
      &:focus {
        outline: none;
      }
    }
    > #search-icon {
      color: rgb(65, 105, 225);
      cursor: pointer;
    }
  }
  > .results-list {
    position: absolute;
    top: 90%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px rgb(204, 204, 204);
    border-radius: 10px;
    max-height: 10rem;
    overflow-y: scroll;
    padding: 0.5rem;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      cursor: pointer;
    }
  }
}

.public-container {
  max-width: 64rem;
  min-height: 90vh;
  background-color: rgb(255, 237, 213);
  margin: auto;
  padding: 2rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

// Introduction
.introduction {
  background-color: rgb(220, 252, 231);
  padding: 0.5rem 5rem;
  text-align: center;
  margin: 1rem auto;
  max-width: 64rem;
  color: rgb(22, 163, 74);
}

// Title
.generalTitle {
  color: rgb(255, 255, 255);
  background-color: rgb(249, 115, 22);
  padding: 0.5rem 0.75rem;
}

// Sub Item
.generalSubItem {
  border: 0.125rem solid rgb(209, 213, 219);
}
.generalSubItem .generalSubItem-text {
  padding: 3rem;
  text-align: justify;
}

// Menu
.menu {
  border: 0.125rem solid rgb(209, 213, 219);
  > .menu-content {
    padding-left: 0.75rem /* 12px */;
    padding-right: 0.75rem /* 12px */;
    text-align: justify;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    > .menu-item {
      @include flex(row, flex-start, center, 0);
      margin-bottom: 0.5rem;
      color: rgb(59, 130, 246);
      &:hover {
        color: rgb(29, 78, 216);
      }
    }
  }
}

// admin components
.admin-container {
  @include flex(row, center, unset, 0);
  height: 100vh;
  background-color: rgb(247, 247, 247);
  position: relative;
  > aside {
    position: relative;
    width: 20%;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;
    color: #000;
    &::-webkit-scrollbar {
      display: none;
    }
    > .menu-icon {
      cursor: pointer;
    }
    > .logo {
      width: 4rem;
      margin: 0 auto;
      > img {
        width: 100%;
      }
    }
    > .wrapper {
      margin: 2rem 1rem;
      > h5 {
        @include heading(2px);
        opacity: 0.8;
        margin: 1rem 0;
      }
      > ul {
        @include flex(column, unset, unset, 0.5rem);
        list-style: none;
        > li {
          padding: 0.5rem 1rem;
          margin: 0;
          border-radius: 10px;
          a {
            color: rgba(0, 0, 0, 0.825);
            @include flex(row, unset);
            margin: 0;
          }
          button {
            background-color: rgb(47, 122, 252);
            color: rgb(255, 255, 255);
            padding: 0.5rem 1.25rem;
            border-radius: 9999px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
  > .admin-sidebar-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;
    color: #000;
    &::-webkit-scrollbar {
      display: none;
    }
    > .menu-icon {
      cursor: pointer;
    }
    > .logo {
      width: 4rem;
      margin: 0 auto;
      > img {
        width: 100%;
      }
    }
    > .wrapper {
      margin: 2rem 1rem;
      > h5 {
        @include heading(2px);
        opacity: 0.8;
        margin: 1rem 0;
      }
      > ul {
        @include flex(column, unset, unset, 0.5rem);
        list-style: none;
        > li {
          padding: 0.5rem 1rem;
          margin: 0;
          border-radius: 10px;
          a {
            color: rgba(0, 0, 0, 0.825);
            @include flex(row, unset);
            margin: 0;
          }
          button {
            background-color: rgb(47, 122, 252);
            color: rgb(255, 255, 255);
            padding: 0.5rem 1.25rem;
            border-radius: 9999px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
  > .open-menu-icon {
    position: fixed;
    top: 5rem;
    left: 5%;
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    display: none;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }

  th {
    font-weight: bold;
    color: #0000009e;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 1rem;
    position: relative;
    .th-wrapper {
      display: flex;
      align-items: center;
      button {
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: 0.2rem;
      }
    }
  }

  tbody {
    tr {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
    }

    td {
      padding: 1rem;
      white-space: nowrap;
      overflow: hidden;
      max-width: 10rem;
      img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        border-radius: 10px;
      }
      a {
        text-decoration: none;
        color: rgba(255, 255, 255);
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
        margin-right: 1rem;
      }
      button {
        width: 2rem;
        height: 2rem;
        font-size: 1.1rem;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        color: rgb(255, 44, 44);
        &:hover {
          opacity: 0.6;
        }
      }

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
    td.btn-wrapper {
      max-width: 20rem;
    }
  }
}

.table-pagination {
  @include flex;
  padding: 2rem;
  > button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 115, 255);
    color: white;
    &:disabled {
      background-color: rgba(0, 115, 255, 0.1);
      cursor: not-allowed;
    }
  }
}

.preview-section {
  text-align: justify;
  padding: 2rem;
  > h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0.625rem;
  }
  > h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.625rem;
  }
  > h2 {
    font-size: 18.72px;
    font-weight: bold;
    margin-bottom: 0.625rem;
  }
  > h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.625rem;
  }
  > h4 {
    font-size: 13.28px;
    font-weight: bold;
    margin-bottom: 0.625rem;
  }
  > h6 {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0.625rem;
  }
  > p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.375rem /* 6px */;
  }
  > ul {
    list-style-type: disc;
    margin-bottom: 0.5rem;
    > li {
      margin-bottom: 0.5rem /* 8px */;
    }
  }
  > ol {
    list-style-type: decimal;
    > li {
      margin-bottom: 2.5rem /* 40px */;
    }
  }
  > img {
    border-radius: 0.5rem /* 8px */;
  }
}
.menu-mobile-wrapper {
  position: absolute;
  top: 8rem;
  right: 0;
  z-index: 10;
  background-color: #fff;
  @include flex(column, flex-start, center, 0);
  > .auth-container {
    @include flex(row, center, center, 0);
    margin-bottom: 1rem;
    > a {
      > .btn-signin {
        background-color: rgb(47, 122, 252);
        color: rgb(255, 255, 255);
        margin-top: 0.5rem /* 8px */;
        margin-bottom: 0.5rem;
        padding: 0.5rem 1.25rem;
        border-radius: 9999px;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: rgb(135, 172, 236);
        }
      }
      >.avatar {
        height: 2rem/* 28px */;
        width: 2rem/* 28px */;
        border-radius: 9999px;
        object-fit: cover;
        padding: 0.1rem;
        border: 1px solid rgb(209, 213, 219);
      }
    }
  }
  .public-sidebar {
    list-style: none;
    width: 100%;
    li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      > ul {
        list-style: none;
        padding: 0;
        margin-bottom: -1rem;
      }
    }
  }
}
